<form action="">

	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Select
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li> <%= topic %>  </li>

	  </ul>
	</div>

	<p>
		<label for="learn">I want to learn</label>
		<select name="learn">
			<% @topics_learn.each do |topic| %>
				<option value="<% topic %>"> <%= topic %> </option>
			<% end %>
		</select>
	</p>

	<p>
		<label for="learn">I want to teach</label>
		<select name="teach">
			<% @topics_teach.each do |topic| %>
				<option value="<% topic %>"> <%= topic %> </option>
			<% end %>
		</select>
	</p>

	<p>
		<label>My bio</label>
		<textarea name="textarea" rows="10" cols="50"></textarea>
	</p>

</form>