<div class="row">
	<div class="col-md-1">

	<form action="">
		<h1>Settings</h1>

		<div class="dropdown form-input">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    I want to learn
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		  	<% @topics_learn.each do |topic| %>
		    	<li> <%= topic %> </li>
		    <% end %>
		  </ul>
		</div>

		<div class="dropdown form-input">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    I want to teach
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
		  	<% @topics_teach.each do |topic| %>
		    	<li> <%= topic %> </li>
		    <% end %>
		  </ul>
		</div>

		<div class="bio">
			<label>My bio</label>
			<textarea class="form-control" name="textarea" rows="3"></textarea>
		</div>

	</form>
</div>
</div>