<form action="">

	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    I want to learn
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  	<% @topics_learn.each do |topic| %>
	    	<li> <%= topic %> </li>
	    <% end %>
	  </ul>
	</div>

	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    I want to teach
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
	  	<% @topics_teach.each do |topic| %>
	    	<li> <%= topic %> </li>
	    <% end %>
	  </ul>
	</div>

	<div>
		<label>My bio</label>
		<textarea name="textarea" rows="10" cols="50"></textarea>
	</div>

</form>