.container {
	width: 450px;
}

header {
	margin-bottom: 3em;
}

.container {
	width: 450px;
	margin-top: 1em;
}

header {
	margin-bottom: 3em;
}

.display-inline {
	display: inline;
}

.full-width {
	width: 100%;
}

a {
	text-decoration: none;
}