.login-img {
	width: 100%;
	height: 50vh;
	background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group {
	margin: 25px 0;
}

.remember {
	margin-left: 1em;
}

.signup-links {
	margin-top: 3em;
}