// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-info {
	margin: 1em 0;

	.glyphicon {
		font-size: 2em;
		padding: 0.5em 0;
	}
}

.panel {
	margin-top: 5em;
}

.profile-img {
	height: 200px;
	width: 200px;
}

.profile-img-wrapper {
	display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper {
	height: 50px;
	width: 50px;
}

.icon-messages {
	height: 50px;
	width: 50px;
}

.icon-settings {
	height: 80px;
	width: 80px;
}

.icon-learn {
	height: 40px;
	width: 40px;
}