// Place all the styles related to the Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.settings-wrapper {
	h1 {
		text-align: center;
	}

	.icon-profile {
		height: 80px;
		width: 80px;
	}
}

.bold {
	font-weight: 800;
}

.settings {
	width: 500px;
	margin: 0 auto;

	h1 {
		text-align: center;
	}

	form {
		margin: 0 auto;
	}
}

.bio {
	label {
		display: block;
		text-align: left;
	}
}

.form-input {
	margin: 25px;
}

.profile-img {
	display: inline;

	.profile {
		height: 200px;
		width: 200px;
	}
}

.profile-info {
	h2, h3 {
		display: inline;
	}

	h3 {
		font-size: 1.3em;
	}
}

.bio {
	border-radius: 10px;
	border: 1px solid black;
	margin: 2em 0;
	padding: 1em;
}

.profile-wrapper {
	text-align: center;
}

.icon-skills {
	margin: 2em 0;
}

.skills {
	p {
		font-size: 1.3em;
	}
}

.button-wrapper {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

a {
	text-decoration:  none;
}